@model Domain.Entities.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteamLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteamLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteamLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteamLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BansCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BansCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
